.css-3x8ruy-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    color: white;
    background-color: none;
}

.css-3lfpkh-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    color: white;
    background-color: none;
}

.css-8pdijt-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    color: white;
    background-color: none;
}

.Mui-selected {
    color: white;
    background-color: none;
}